.intro {
  padding-top: 35px;
  position: relative;

  @media(max-width: 1400px) {
    padding-top: 25px;
  }

  &Title {
    font-size: 34px;
    line-height: 50px;
    font-family: $font-family;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 1;

    @media(max-width: 991px) {
      margin-bottom: 40px;
    }
    @media(max-width: 575px){
      margin-bottom: 20px;
      font-size: 25px;
    }

    img {
      @media(max-width: 991px) {
        display: none;
      }
    }
  }

  &W {
    display: flex;
    margin-top: 145px;

    @media(max-width: 1400px) {
      margin-top: 60px;
    }

    @media(max-width: 991px) {
      flex-direction: column;
    }
  }

  &Left {
    width: 400px;
    min-width: 400px;
    margin-right: 30px;
    position: relative;
    padding-left: 60px;

    @media(max-width: 991px) {
      height: fit-content;
      padding-left: 0;
    }

    .rectLeftB {
      height: 220px;
      width: 100%;
      background-color: #FFF500;
      position: absolute;
      top: 194px;
      left: 0;
      @media(max-width: 991px){
        display: none;
      }

      &::before {
        content: '';
        position: absolute;
        right: 100%;
        top: 0;
        width: 100vw;
        height: 100%;
        background-color: #FFF500;
      }
    }

    .stars {
      position: absolute;
      left: -68px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &Text {
    font-size: 16px;
    line-height: 17px;
    text-align: justify;

    &W {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 50px;
      margin-top: 37px;

      @media(max-width: 1199px) {
        row-gap: 20px;
        column-gap: 30px;
      }
      @media(max-width: 575px){
        margin-top: 50px;
      }

      .introText {
        grid-column: 4 span;

        @media(max-width: 1199px) {
          grid-column: 6 span;
        }
        @media(max-width: 575px){
          grid-column: 12 span;
        }
      }
    }
  }

  &Img {
    width: 650px;
    height: 349px;
    height: auto;
    object-fit: cover;

    @media(max-width: 991px) {
      width: 100%;
      height: auto;
      max-height: 400px;
      max-width: 500px;
    }
  }

  .round {
    position: absolute;
    right: 0;
    top: 130px;
  }

  .searchW {
    max-width: calc(100% - 121px);

    @media(max-width: 1500px) {
      max-width: calc(100% - 140px);
    }

    @media(max-width: 1199px) {
      max-width: calc(100% - 120px);
    }

    @media(max-width: 767px) {
      max-width: 100%;
    }
  }

  .abstract {
    margin-top: 120px;
    @media(max-width: 1400px){
      margin-top: 80px;
    }
    @media(max-width: 575px){
      margin-top: 60px;
    }
  }

  .imgW {
    position: relative;
    right: 205px;

    @media(max-width: 991px) {
      right: unset;     
      width: fit-content;
    }

    img {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      width: 590px;
      height: 200px;
      background-color: #FFF500;
      top: 45px;
      left: -45px;
      z-index: 0;

      @media(max-width: 1199px) {
        width: 400px;
      }

      @media(max-width: 991px) {
        top: 20px;
        left: -20px;
        height: 100%;
        width: 100%;
      }
    }
  }
}